/* intuitivnejsi box siying */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	margin: 20px;
	font: 16px/1.5 sans-serif ;
}

/* ------------------------- */

form {
 width: 100%;
 max-width: 300px;
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field textarea,
.form-field select {
	width: 100%;
	border: 1px solid dodgerblue;
	border-radius: 4px;
	font-size: 16px;
	padding: 5px;
	background-color: azure;
}

.form-field,
.form-horizontal {
	margin-bottom: 10px;
}

.required {
	color: red;
}

.form-field > label {
	display: block;
	font-size: 14px;
}


/* .form-horizontal label {
	display: inline-block;
	width: 100px;
	font-size: 14px;
} */

.form-horizontal {
	display: flex;
}

.form-horizontal label {
	flex: 0 0 100px;
	font-size: 14px;

}

.form-horizontal input {
	flex: 1 1 100%;
}

.form-checkbox {
	margin-bottom: 10px;
}

.form-checkbox input {
	width: 15px;
	height: 15px;
}

.button {
	background-color: dodgerblue;
	color: white;
	padding: 10px 20px;
	border: 0;
	border-radius: 4px;
}

.button:hover {
	background-color: blue;
}

/* .form-field input[type="text"]:focus,
.form-field input[type="number"]:focus,
.form-field textarea:focus,
.form-field select:focus {
	outline: 2px solid rebeccapurple;
	outline: 0;
	border: 2px solid blue;
	background-color: lightyellow;
} */

input[type="checkbox"]:focus,
input[type="radio"]:focus {
	outline-color: hotpink;
}


/* .form-field input:valid {
	background-color: lightgreen;
	border-color: green;
}

.form-field input:invalid {
	background-color: pink;
	border-color: hotpink;
} */

/* .form-field input[type="text"]:placeholder-shown {
	outline: 5px solid red;
} */

.form-field input[type="text"]:not(:placeholder-shown):valid,
.form-field input[type="number"]:not(:placeholder-shown):valid
.form-field textarea:not(:placeholder-shown):valid {
	background-color: lightgreen;
}