/* intuitivnejsi box siying */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	margin: 20px;
	font: 16px/1.5 sans-serif ;
}

/* ------------------------- */

form {
	width: 400px;
}

label {
	color: gray;
}

.form-field {
	margin-bottom: 15px;
}

.form-field > label {
	display: block;
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field input[type="email"],
.form-field textarea,
.form-field select {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid gray;
}

.nadpis {
	font-size: 25px;
	color: dodgerblue;
}

.tlacitko {
	background-color: dodgerblue;
	padding: 5px 10px;
	border-radius: 5px;
	border: 0;
	font-size: 16px;
	margin-top: 15px;
}